@model IEnumerable<SalonYonetimUygulamasi.Models.Randevu>

<h1>Randevu Listesi</h1>

<table class="table">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>İşlem</th>
            <th>İşlem Ücreti</th>
            <th>Çalışan</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var randevu in Model)
        {
            <tr>
                <td>@randevu.Tarih.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@randevu.Islem.IslemAdi</td>
                <td>@randevu.Islem.IslemUcreti</td>
                <td>@randevu.Calisan.CalisanAd</td>
                <td>
                    <a href="/Randevu/RandevuDetails/@randevu.RandevuID" class="btn btn-info">Görüntüle</a>
                
                    <a href="/Randevu/RandevuDelete/@randevu.RandevuID" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("RandevuCreate", "Randevu")">Randevu Ekle</a>
