@model SalonYonetimUygulamasi.Models.Randevu

<h2>Randevu Detayları</h2>

<table class="table">
    <tr>
        <th>Randevu ID</th>
        <td>@Model.RandevuID</td>
    </tr>
    <tr>
        <th>Tarih</th>
        <td>@Model.Tarih.ToString("yyyy-MM-dd HH:mm")</td>
    </tr>
    <tr>
        <th>Çalışan</th>
        <td>@Model.Calisan.CalisanAd </td>
    </tr>
    <tr>
        <th>İşlem</th>
        <td>@Model.Islem.IslemAdi</td>
    </tr>
    <tr>
        <th>Ücret</th>
        <td>@Model.Islem.IslemUcreti</td>
    </tr>
</table>

<a href="@Url.Action("Index", "Randevu")" class="btn btn-secondary">Geri</a>
